/* CSS Document */

/***  TAG ***/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
}

.videoholder {
	padding:22px 0;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	margin: 0 0 15px 0;
}


ol , ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
	margin: 0 0 20px 30px;
}

table.tabelaConteudo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 30px auto;
	font-weight: bold;
	color: #333;
	border: 5px solid #ccc;
	background-color: #fff;
}

.tabelaConteudo td {
	border: 2px solid #fff;
}

a.linkCurso {
	text-decoration: none;
	font-weight: bold;
}

a:link.linkCurso , a:active.linkCurso , a:visited.linkCurso {
	color:#3E5875;
}

a:hover.linkCurso {
	color: #AD8830;
}

.linkCurso div
{
	padding:5px;
}

.linkCurso div:hover
{
	background-color: #9ebece;
}

h3
{
	font-size:12px;
	color:#496980;
	text-decoration:underline;
}

/***  ID ***/


/***  CLASS ***/

.topoCBCA {
	/*background-image: url(/moodle/imagens/CBCA/bgTopo.gif);*/
	background-repeat	: repeat-x;
	background-color	: #f3f6f8;
	height				: 45px;
	min-width			: 359px;
}


.topoPartes {
	/*background-image: url(/moodle/imagens/CBCA/bgTopo.gif);*/
	background-repeat	: repeat-x;
	background-color	: #dce5eb;
	height				: 25px;
	min-width			: 359px;
	text-align			: right;
	padding-right		: 3px;
	padding-top			: 8px;
	font-family			: Arial, Helvetica, sans-serif;
	font-size			: 15px;
	font-weight			: bold;
	color				: #435B76;
}

.Vermelho{
	font-weight			: bold;
	color				: #F40031;
	font-size			: 14px;
}

.txtAzul{
	font-weight			: bold;
	color				: #037AD1;
}

.logoCBCA {
	width: 133px;
	float: left;
}

.modulo {
	width: 260px;
	float: right;
}


.titulo {
	padding: 7px;
	background-color: #DBDBDB;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: bold;
	color: #435B76;
	margin: 30px 0 20px 0;
}
.subitemTitulo1 {
	padding-left: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
.subTitulo1 {
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #6891B9;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #DBDBDB;
	margin: 30px 0 12px 0;
}
.subTitulo2 {
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #7B334D;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #DBDBDB;
	margin: 30px 0 12px 0;
}

.subTitulo3 {
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color:#81A5E0;
}

.imagem {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #F6F6F6;
	margin: 20px 0;
	clear: none;
	float:none;
}

.imagem img {
	border: 8px solid #fff;
}

.foto {
	padding: 10px;
	text-align: center;
}

.legenda {
	background-color: #E9E9E9;
	padding: 3px;
	text-align: center;
	font-weight: normal;
	font-size: 11px;
}

.SlideSom {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #000000;
	margin: 20px 0;
	clear: none;
	float:none;
}

.SlideSom img {
	border: 8px solid #000;
}

.FotoSom {
	padding: 10px;
	text-align: center;
}

.Som {
	background-color: #E9E9E9;
	padding: 3px;
	text-align: center;
	font-weight: normal;
	font-size: 11px;
}

.video {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #f3f3f3;
	padding: 15px 15px 5px 15px;
	margin: 20px 0;
	border: 1px solid #3E5875;
}

.col1 {
	margin: 5px;
	background-color: #F5DEA7;
}

.col2 {
	margin: 5px;;
	background-color: #BCD5E2;
}

.topo
{
	width: 100%;
	border-top: 1px solid #ccc;
	text-align: right;
	color: #000;
	font-weight: bold;
	font-size: 12px;
}

.topo a
{
	color: #000;
}

.topo a:hover
{
	color: #cc0000;
}

.linha-simbolo img
{
	vertical-align: middle;
	margin: 3px;
}